{% extends 'base.html' %}

{% block content %}
  
  <div id="home" class="banner-area section-padding">
    <div class="bg-overlay black"></div>
    <div class="containter">
        <div class="row">
            <div class="col-md-12">
                <div class="welcome-text">
                    <div class="name-area wow fadeInDown" data-wow-delay="0.2s">Welcome to Our Blog Posts</div>
                    <h1 class="wow fadeInDown" data-wow-delay="0.4s">Stay up to date with our newsletter</h1>
                </div>
            </div>
        </div>
    </div>
  </div>

  {% for post in blogs %}
  <div>
    <p>Published: {{ post.published_date }}</p>
    <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
    <p>{{ post.text|linebreaksbr }}</p>
  </div>
  {% endfor %}

  <div>
    <button class=".btn.new-post"><a href="{% url 'post_new' %}" class=".btn.new-post"></span>Add New Post</a></button>
  </div>

{% endblock %}