{% extends 'base.html' %}

{% block content %}
  
  <header class="header">
    <div class="introduction-blog">
      <h1 class="introduction__content">
        <span class="introduction__content-el introduction__content-el--description">Blog</span>
      </h1>
    </div>
  </header>

  <!-- SECTION: Blog -->
  <section id="blog" class="blog">
    <div class="blog__wrapper wrapper--large">
      <article class="blog__post">
        <div class="blog__post-thumbnail">
          <img src="./media/img/blog-post-1.jpg" alt="Man viewing work plans">
        </div>
        <div class="blog__post-excerpt">
          <h3>Days in the office</h3>
          <p>I love using UI Kits vs website templates because UI Kits give you an easier way to use elements compared to templates.</p>
          <a class="transform-link" href="#0">Read full article</a>
        </div>
      </article>
      <article class="blog__post">
        <div class="blog__post-thumbnail">
          <img src="./media/img/blog-post-2.jpg" alt="Man hanging pictures">
        </div>
        <div class="blog__post-excerpt">
          <h3>Why I use CCO images</h3>
          <p>CCO images are awesome because you don't have to credit the author, and you can use them anywhere, anytime.</p>
          <a class="transform-link" href="#0">Read full article</a>
        </div>
      </article>
      <article class="blog__post">
        <div class="blog__post-thumbnail">
          <img src="./media/img/blog-post-3.jpg" alt="Men working at a desk">
        </div>
        <div class="blog__post-excerpt">
          <h3>Designing for IOT</h3>
          <p>Internet of things is coming so quickly, we as designers will have to design UI and UX for more things in the future.</p>
          <a class="transform-link" href="#0">Read full article</a>
        </div>
      </article>
    </div>
    <div class="blog__view-more">
      <a class="button blog__view-more--el" href="http://127.0.0.1:8000/blog/">View More</a>
    </div>
  </section>
  <!-- END SECTION: Blog -->

  {% for post in blogs %}
  <div>
    <p>Published: {{ post.published_date }}</p>
    <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
    <p>{{ post.text|linebreaksbr }}</p>
  </div>
  {% endfor %}

  <div>
    {% if user.is_authenticated %}
    <a href="{% url 'post_new' %}" class="btn btn-default">Add New Post &nbsp;<span class="glyphicon glyphicon-plus"></span></a>
    {% endif %}
    <!-- Add new post button to the post page and check if the user is login
      &nbsp; is a space bar html tag -->
  </div>

{% endblock %}